

  --h1-size: 2.44rem;
  --h1-weight: 700;
  --h1-line-height: 1.55;
  --h1-letter-spacing: 0.015em;

  --h2-size: 1.95rem;
  --h2-weight: 600;
  --h2-line-height: 1.55;
  --h2-letter-spacing: 0.02em;

  --h3-size: 1.75rem;
  --h3-weight: 600;
  --h3-line-height: 1.55;
  --h3-letter-spacing: 0.02em;

  --h4-size: 1.56rem;
  --h4-weight: 500;
  --h4-line-height: 1.55;
  --h4-letter-spacing: 0.02em;

  --h5-size: 1.4rem;
  --h5-weight: 500;
  --h5-line-height: 1.6;
  --h5-letter-spacing: 0.025em;

  --h6-size: 1.25rem;
  --h6-weight: 500;
  --h6-line-height: 1.6;
  --h6-letter-spacing: 0.025em;


  --body-size: 1rem;
  --body-weight: 400;
  --body-line-height: 1.6;
  --body-letter-spacing: 0.03em;

  --body-sm-size: 0.89rem;
  --body-sm-weight: 400;
  --body-sm-line-height: 1.65;
  --body-sm-letter-spacing: 0.03em;

  --caption-lg-size: 0.8rem;
  --caption-lg-weight: 400;
  --caption-lg-line-height: 1.65;
  --caption-lg-letter-spacing: 0.03em;

  --caption-size: 0.72rem;
  --caption-weight: 400;
  --caption-line-height: 1.65;
  --caption-letter-spacing: 0.03em;

  --caption-sm-size: 0.64rem;
  --caption-sm-weight: 300;
  --caption-sm-line-height: 1.65;
  --caption-sm-letter-spacing: 0.03em;
